In [1]:
import numpy as np
import pandas as pd
# pip install seaborn 
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
PATH = 'C:/Users/Anastasiia Murashova/Documents/2018-data-for-consulates.csv'

#origin source
#https://www.kaggle.com/ma7555/schengen-visa-stats#2017-data-for-consulates.csv

In [14]:
data = pd.read_csv(PATH)
data.head(20)

,Schengen State,Country where consulate is located,Consulate,Airport transit visas (ATVs) applied for,ATVs issued (including multiple),Multiple ATVs issued,ATVs not issued,Not issued rate for ATVs,Uniform visas applied for,Total uniform visas issued (including MEV),Multiple entry uniform visas (MEVs) issued,Share of MEVs on total number of uniform visas issued,Total LTVs issued,Uniform visas not issued,Not issued rate for uniform visas,Total ATVs and uniform visas applied for,"Total ATVs and uniform visas issued (including multiple ATVs, MEVs and LTVs)",Total ATVs and uniform visas not issued,Not issued rate for ATVs and uniform visas
0,Austria,ALBANIA,TIRANA,NaN,NaN,NaN,NaN,NaN,62,32,10,31.3%,21,9,14.5%,62,53,9,14.5%
1,Austria,ALGERIA,ALGIERS,NaN,NaN,NaN,NaN,NaN,2481,1658,1461,88.1%,1,822,33.1%,"2,481","1,659",822,33.1%
2,Austria,ARGENTINA,BUENOS AIRES,NaN,NaN,NaN,NaN,NaN,16,16,16,100.0%,NaN,NaN,NaN,16,16,NaN,NaN
3,Austria,AUSTRALIA,CANBERRA,NaN,NaN,NaN,NaN,NaN,2776,2653,989,37.3%,1,122,4.4%,"2,776","2,654",122,4.4%
4,Austria,AZERBAIJAN,BAKU,1,1,1,NaN,NaN,1976,1895,1769,93.4%,2,79,4.0%,"1,977","1,898",79,4.0%
5,Austria,BOSNIA AND HERZEGOVINA,SARAJEVO,NaN,NaN,NaN,NaN,NaN,616,615,615,100.0%,NaN,1,0.2%,616,615,1,0.2%
6,Austria,BRAZIL,BRASILIA,NaN,NaN,NaN,NaN,NaN,37,37,36,97.3%,NaN,NaN,NaN,37,37,NaN,NaN
7,Austria,BULGARIA,SOFIA,NaN,NaN,NaN,NaN,NaN,217,199,162,81.4%,13,5,2.3%,217,212,5,2.3%
8,Austria,CANADA,OTTAWA,NaN,NaN,NaN,NaN,NaN,686,659,107,16.2%,1,26,3.8%,686,660,26,3.8%
9,Austria,CHILE,SANTIAGO DE CHILE,NaN,NaN,NaN,NaN,NaN,22,22,17,77.3%,NaN,NaN,NaN,22,22,NaN,NaN
10,Austria,CHINA,BEIJING,1,1,NaN,NaN,NaN,36365,35764,1125,3.1%,4,597,1.6%,"36,366","35,769",597,1.6%
11,Austria,CHINA,SHANGHAI,NaN,NaN,NaN,NaN,NaN,45037,44636,3442,7.7%,NaN,401,0.9%,"45,037","44,636",401,0.9%
12,Austria,COLOMBIA,BOGOTA,NaN,NaN,NaN,NaN,NaN,19,16,16,100.0%,NaN,3,15.8%,19,16,3,15.8%
13,Austria,CROATIA,ZAGREB,NaN,NaN,NaN,NaN,NaN,261,224,235,104.9%,23,14,5.4%,261,247,14,5.4%
14,Austria,CUBA,HAVANA,NaN,NaN,NaN,NaN,NaN,521,490,128,26.1%,NaN,31,6.0%,521,490,31,6.0%
15,Austria,CYPRUS,NICOSIA,NaN,NaN,NaN,NaN,NaN,494,485,332,68.5%,4,5,1.0%,494,489,5,1.0%
16,Austria,EGYPT,CAIRO,NaN,NaN,NaN,NaN,NaN,4993,4132,2872,69.5%,39,822,16.5%,"4,993","4,171",822,16.5%
17,Austria,ETHIOPIA,ADDIS ABEBA,NaN,NaN,NaN,NaN,NaN,670,638,108,16.9%,9,23,3.4%,670,647,23,3.4%
18,Austria,GERMANY,MUNICH,NaN,NaN,NaN,NaN,NaN,111,106,96,90.6%,3,2,1.8%,111,109,2,1.8%
19,Austria,HONG KONG S.A.R.,HONG KONG,NaN,NaN,NaN,NaN,NaN,495,493,98,19.9%,NaN,2,0.4%,495,493,2,0.4%

Questions for research:
1. Which types of visas (ATV, MEV, LTV) were given and how much
2. How much applies for transfer visas were from customers comparing to all applies for visas 
3. Statistics from countries demanded for visas 
4. Chances for getting LTV or better quality of visa 
5. Which consulates in every country are more generous than others? 
6. Which schengen states are more generous in general? 
7. Which consulate is the most strict one?
8. Same for Russia
9. Same for Moscow

Проверить на выбросы, проценты нанов, cделать булевые маски на наны, которых много

In [4]:
print(data.columns)

Index(['Schengen State', 'Country where consulate is located', 'Consulate',
       'Airport transit visas (ATVs) applied for ',
       ' ATVs issued (including multiple)', 'Multiple ATVs issued',
       'ATVs not issued ', 'Not issued rate for ATVs',
       'Uniform visas applied for',
       'Total  uniform visas issued (including MEV) \n',
       'Multiple entry uniform visas (MEVs) issued',
       'Share of MEVs on total number of uniform visas issued',
       'Total LTVs issued', 'Uniform visas not issued',
       'Not issued rate for uniform visas',
       'Total ATVs and uniform visas applied for',
       'Total ATVs and uniform visas issued  (including multiple ATVs, MEVs and LTVs) ',
       'Total ATVs and uniform visas not issued',
       'Not issued rate for ATVs and uniform visas '],
      dtype='object')

Перевод колонок:

Заявки на транзитные визы в аэропорту (ATV), 
Выпущенные транзитные визы (включая многократные), 
Выпущены многократные транзитные визы, 
Многократные транзитные визы не выпущены, 
Рейтинг не выданных многократных транзитные визы, 
Подачи на единые визы, 
Всего выдано единых виз (включая MEV),
Выданы многократные въездные визы (MEV),
Доля MEVs в общем количестве выданных единых виз,
Всего выпущено ограниченные виз (LTV),
Единые визы не выданы,
Рейтинг не выпущенных единых виз,
Общее количество подач на транзитные и единые визы,
Всего выдано ATV и единых виз (включая несколько ATV, MEV и LTV),
Всего транзитных и единых виз не выдано,
Рейтинг не выпущенных тариф на транзитные и единые визы

In [5]:
total_data = data.iloc[1904:1907, 3:19]
total_data.rename(index={1904:'Selection Sub total in 2018',1905:'Total worldwide 2018',1906:'Share of subtotal on worldwide total'}, inplace=True)
total_data

# This dataframe gives us summury about which types of visas and how much were applied and given in 2018 in the world

,Airport transit visas (ATVs) applied for,ATVs issued (including multiple),Multiple ATVs issued,ATVs not issued,Not issued rate for ATVs,Uniform visas applied for,Total uniform visas issued (including MEV),Multiple entry uniform visas (MEVs) issued,Share of MEVs on total number of uniform visas issued,Total LTVs issued,Uniform visas not issued,Not issued rate for uniform visas,Total ATVs and uniform visas applied for,"Total ATVs and uniform visas issued (including multiple ATVs, MEVs and LTVs)",Total ATVs and uniform visas not issued,Not issued rate for ATVs and uniform visas
Selection Sub total in 2018,"5,313","4,277","1,553",767,14.4%,"16,016,599","14,265,282","8,325,850",58.4%,"113,687","1,539,362",9.6%,"16,021,912","14,383,246","1,540,129",9.6%
Total worldwide 2018,"5,313","4,277","1,553",767,14.4%,"16,016,599","14,265,282","8,325,850",58.4%,"113,687","1,539,362",9.6%,"16,021,912","14,383,246","1,540,129",9.6%
Share of subtotal on worldwide total,100%,100%,100%,100%,NaN,100%,100%,100%,NaN,100%,100%,NaN,100%,100%,100%,NaN

In [6]:
total_data['Numeric global ATV applies'] = total_data['Airport transit visas (ATVs) applied for ']\
    .iloc[:2].apply(lambda s: int(s.replace(',', '')))
total_data['Numeric global applies'] = total_data['Total ATVs and uniform visas applied for']\
    .iloc[:2].apply(lambda s: int(s.replace(',', '')))

global_atv_applies = total_data['Numeric global ATV applies'].iloc[:1].sum()
global_applies = total_data['Numeric global applies'].iloc[:1].sum()
print("Share of ATV applies is", round(((global_atv_applies/global_applies)*100), 2), '%')

Share of ATV applies is 0.03 %

In [7]:
#Chances for getting LTV or better quality of visa
#LTV and MEV issued/LTV and MEV 

total_data['Numeric uniform visa issued'] = total_data['Total  uniform visas issued (including MEV) \n']\
    .iloc[:2].dropna().apply(lambda s: int(s.replace(',', '')))
total_data['Numeric uniform visa applies'] = total_data['Uniform visas applied for'].iloc[:2]\
    .dropna().apply(lambda s: int(s.replace(',', '')))

issued_bq_visas = total_data['Numeric uniform visa issued'].iloc[:1].sum()
applied_bq_visas = total_data['Numeric uniform visa applies'].iloc[:1].sum()
print('Chances for getting LTV or better quality of visa', round(((issued_bq_visas/applied_bq_visas)*100), 2), '%')

Chances for getting LTV or better quality of visa 89.07 %

In [8]:
numeric_data = data.iloc[:1900, 0:3]
numeric_data['Numeric applies'] = data['Total ATVs and uniform visas applied for']\
    .iloc[:1900].dropna().apply(lambda s: int(s.replace(',', '')))
numeric_data['Numeric total issued visas'] = data['Total ATVs and uniform visas issued  (including multiple ATVs, MEVs and LTVs) ']\
    .iloc[:1900].dropna().apply(lambda s: int(s.replace(',', '')))
numeric_data['Numeric not issued visas'] = data['Total ATVs and uniform visas not issued']\
    .iloc[:1900].dropna().apply(lambda s: int(s.replace(',', '')))

In [9]:
numeric_data = numeric_data.fillna(0, axis = 0)

In [11]:
numeric_data['Numeric applies'] = numeric_data[['Numeric applies', 'Numeric total issued visas', 'Numeric not issued visas']]\
.apply(lambda x: x['Numeric applies'] if x['Numeric total issued visas'] <= x['Numeric applies'] \
       else x['Numeric total issued visas']+x['Numeric not issued visas'], axis = 1)

In [25]:
numeric_data['Numeric applies'] = numeric_data[['Numeric applies', 'Numeric total issued visas', 'Numeric not issued visas']]\
.apply(lambda x: x['Numeric applies'] if x['Numeric not issued visas'] <= x['Numeric applies'] \
       else x['Numeric total issued visas']+x['Numeric not issued visas'], axis = 1)

In [26]:
numeric_data['Share of issued visas'] = numeric_data['Numeric total issued visas']/numeric_data['Numeric applies']

In [27]:
numeric_data['Share of not issued visas'] = numeric_data['Numeric not issued visas']/numeric_data['Numeric applies']

In [28]:
#Which consulates in every country are more generous than others? quantity? proportion?

numeric_data.groupby(['Consulate'])['Numeric total issued visas'].sum().sort_values(ascending = False).head(5)

Consulate
MOSCOW            2542131.0
BEIJING           1058086.0
SHANGHAI           923186.0
ST. PETERSBURG     741242.0
NEW DELHI          534188.0
Name: Numeric total issued visas, dtype: float64

In [29]:
#Which consulate is the most strict one?
numeric_data.groupby(['Consulate'])['Numeric not issued visas'].sum().sort_values(ascending = False).head(5)

Consulate
ALGIERS      168882.0
ORAN          89573.0
TEHERAN       80435.0
NEW DELHI     67324.0
ANNABA        65836.0
Name: Numeric not issued visas, dtype: float64

In [30]:
numeric_data.groupby(['Consulate'])['Share of issued visas'].mean().sort_values(ascending = False).head(29)

Consulate
ZURICH                1.000000
VICTORIA              1.000000
ROSARIO (Santa Fé)    1.000000
REYKJAVIK             1.000000
SUBOTICA              1.000000
LYON                  1.000000
LUGANO                1.000000
TALLINN               1.000000
TAMPA, FL             1.000000
JUBA                  1.000000
SAN SALVADOR          1.000000
GUADALAJARA           1.000000
GJIROKASTER           1.000000
CORDOBA               1.000000
CLEVELAND, OH         1.000000
VALETTA               1.000000
HAMBURG               1.000000
BARCELONA             1.000000
AMSTERDAM             1.000000
VILNIUS               1.000000
BAHIA BLANCA          1.000000
GRODNO                0.997340
KAZAN                 0.997318
BREST                 0.997160
PSKOV                 0.996274
SAN MARINO            0.995423
GABORONE              0.995172
IRKUTSK               0.995065
PETROZAVODSK          0.994786
Name: Share of issued visas, dtype: float64

In [31]:
numeric_data.groupby(['Consulate'])['Share of not issued visas'].mean().sort_values(ascending = False).head()

Consulate
ALEPPO        1.000000
LUBUMBASHI    0.867470
VALENCIA      0.800000
LAGOS         0.510325
MONACO        0.500000
Name: Share of not issued visas, dtype: float64

In [32]:
numeric_data.groupby(['Schengen State'])['Share of issued visas'].mean().sort_values(ascending = False)

Schengen State
Iceland           0.966720
Slovakia          0.958992
Estonia           0.913243
Luxembourg        0.912931
Austria           0.910866
Italy             0.906366
Latvia            0.904608
Greece            0.901202
Switzerland       0.901003
Germany           0.900126
Czech Republic    0.889202
Slovenia          0.885820
Lithuania         0.884841
Poland            0.869614
Finland           0.866860
Portugal          0.858278
Denmark           0.857376
Spain             0.855763
Malta             0.855260
Norway            0.852251
Hungary           0.849709
France            0.837832
Netherlands       0.797146
Belgium           0.777907
Sweden            0.551701
Name: Share of issued visas, dtype: float64

In [33]:
numeric_data.groupby(['Schengen State'])['Share of not issued visas'].mean().sort_values(ascending = False)

Schengen State
Belgium           0.165830
Netherlands       0.155411
Hungary           0.150291
Norway            0.148258
Portugal          0.141722
France            0.134448
Poland            0.130096
Malta             0.124488
Slovenia          0.114180
Czech Republic    0.108563
Finland           0.104637
Sweden            0.104519
Germany           0.099874
Switzerland       0.098997
Greece            0.098798
Denmark           0.095986
Spain             0.094561
Italy             0.093634
Austria           0.089134
Estonia           0.086757
Luxembourg        0.081355
Latvia            0.081001
Lithuania         0.077487
Slovakia          0.041008
Iceland           0.011538
Name: Share of not issued visas, dtype: float64

In [17]:
#numeric_data['col_3'] = numeric_data[['col_1','col_2']].apply(lambda x: f(*x), axis=1)
numeric_data['Numeric applies'] = numeric_data[['Numeric applies', 'Numeric total issued visas', 'Numeric not issued visas', 'Share of issued visas']]\
.apply(lambda x: x['Numeric applies'] if x['Share of issued visas'] <= 1 else x['Numeric total issued visas']+x['Numeric not issued visas'], axis = 1)

In [20]:
numeric_data[numeric_data['Consulate'] == 'ADDIS ABEBA']

,Schengen State,Country where consulate is located,Consulate,Numeric applies,Numeric total issued visas,Numeric not issued visas,Share of not issued visas,Share of issued visas
17,Austria,ETHIOPIA,ADDIS ABEBA,670.0,647.0,23.0,0.034328,0.965672
86,Belgium,ETHIOPIA,ADDIS ABEBA,1132.0,886.0,149.0,0.131625,0.782686
171,Czech Republic,ETHIOPIA,ADDIS ABEBA,236.0,133.0,103.0,0.436441,0.563559
244,Denmark,ETHIOPIA,ADDIS ABEBA,378.0,301.0,70.0,0.185185,0.796296
323,Finland,ETHIOPIA,ADDIS ABEBA,353.0,286.0,63.0,0.178470,0.810198
428,France,ETHIOPIA,ADDIS ABEBA,4619.0,3317.0,1179.0,0.255250,0.718121
589,Germany,ETHIOPIA,ADDIS ABEBA,4274.0,3184.0,1090.0,0.255030,0.744970
740,Greece,ETHIOPIA,ADDIS ABEBA,377.0,251.0,126.0,0.334218,0.665782
825,Hungary,ETHIOPIA,ADDIS ABEBA,60.0,46.0,14.0,0.233333,0.766667
938,Italy,ETHIOPIA,ADDIS ABEBA,3901.0,3633.0,268.0,0.068700,0.931300
1181,Netherlands,ETHIOPIA,ADDIS ABEBA,2109.0,1669.0,380.0,0.180180,0.791370
1296,Norway,ETHIOPIA,ADDIS ABEBA,10.0,10.0,2.0,1.000000,5.000000
1368,Poland,ETHIOPIA,ADDIS ABEBA,321.0,249.0,72.0,0.224299,0.775701
1643,Spain,ETHIOPIA,ADDIS ABEBA,981.0,741.0,199.0,0.202854,0.755352
1767,Sweden,ETHIOPIA,ADDIS ABEBA,2470.0,1903.0,441.0,0.178543,0.770445
1837,Switzerland,ETHIOPIA,ADDIS ABEBA,1270.0,1148.0,122.0,0.096063,0.903937

In [76]:
data[data['Schengen State'] == 'Norway']

,Schengen State,Country where consulate is located,Consulate,Airport transit visas (ATVs) applied for,ATVs issued (including multiple),Multiple ATVs issued,ATVs not issued,Not issued rate for ATVs,Uniform visas applied for,Total uniform visas issued (including MEV),Multiple entry uniform visas (MEVs) issued,Share of MEVs on total number of uniform visas issued,Total LTVs issued,Uniform visas not issued,Not issued rate for uniform visas,Total ATVs and uniform visas applied for,"Total ATVs and uniform visas issued (including multiple ATVs, MEVs and LTVs)",Total ATVs and uniform visas not issued,Not issued rate for ATVs and uniform visas
1280,Norway,AFGHANISTAN,KABUL,NaN,NaN,NaN,NaN,NaN,55,37,11,29.7%,17,1,1.8%,55,54,1,1.8%
1281,Norway,ALGERIA,ALGIERS,NaN,NaN,NaN,NaN,NaN,379,188,76,40.4%,1,190,50.1%,379,189,190,50.1%
1282,Norway,ANGOLA,LUANDA,NaN,NaN,NaN,NaN,NaN,190,127,29,22.8%,1,62,32.6%,190,128,62,32.6%
1283,Norway,ARGENTINA,BUENOS AIRES,NaN,NaN,NaN,NaN,NaN,4,4,1,25.0%,NaN,NaN,NaN,4,4,NaN,NaN
1284,Norway,AUSTRALIA,CANBERRA,NaN,NaN,NaN,NaN,NaN,375,350,79,22.6%,9,16,4.3%,375,359,16,4.3%
1285,Norway,AUSTRIA,VIENNA,NaN,NaN,NaN,NaN,NaN,1,1,1,100.0%,2,NaN,NaN,1,3,NaN,NaN
1286,Norway,AZERBAIJAN,BAKU,NaN,NaN,NaN,NaN,NaN,211,175,71,40.6%,NaN,36,17.1%,211,175,36,17.1%
1287,Norway,BOSNIA AND HERZEGOVINA,SARAJEVO,NaN,NaN,NaN,NaN,NaN,6,6,3,50.0%,NaN,NaN,NaN,6,6,NaN,NaN
1288,Norway,BRAZIL,BRASILIA,NaN,NaN,NaN,NaN,NaN,3,3,NaN,NaN,NaN,NaN,NaN,3,3,NaN,NaN
1289,Norway,BRAZIL,RIO DE JANEIRO,NaN,NaN,NaN,NaN,NaN,10,3,2,66.7%,3,4,40.0%,10,6,4,40.0%
1290,Norway,CHINA,BEIJING,NaN,NaN,NaN,NaN,NaN,"28,479","28,081","1,916",6.8%,7,391,1.4%,"28,479","28,088",391,1.4%
1291,Norway,CHINA,GUANGZHOU (CANTON),NaN,NaN,NaN,NaN,NaN,"10,970","10,815",425,3.9%,1,154,1.4%,"10,970","10,816",154,1.4%
1292,Norway,CHINA,SHANGHAI,NaN,NaN,NaN,NaN,NaN,"27,435","27,290",846,3.1%,4,141,0.5%,"27,435","27,294",141,0.5%
1293,Norway,CROATIA,ZAGREB,NaN,NaN,NaN,NaN,NaN,6,3,1,33.3%,2,1,16.7%,6,5,1,16.7%
1294,Norway,CUBA,HAVANA,NaN,NaN,NaN,NaN,NaN,1,7,NaN,NaN,8,NaN,NaN,1,15,NaN,NaN
1295,Norway,EGYPT,CAIRO,NaN,NaN,NaN,NaN,NaN,565,487,148,30.4%,4,74,13.1%,565,491,74,13.1%
1296,Norway,ETHIOPIA,ADDIS ABEBA,NaN,NaN,NaN,NaN,NaN,2,5,NaN,NaN,5,2,100.0%,2,10,2,100.0%
1297,Norway,GERMANY,BERLIN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,1,NaN,NaN,NaN,2,NaN,NaN
1298,Norway,GHANA,ACCRA,NaN,NaN,NaN,NaN,NaN,"1,495",702,168,23.9%,7,786,52.6%,"1,495",709,786,52.6%
1299,Norway,GREECE,ATHENS,NaN,NaN,NaN,NaN,NaN,2,2,1,50.0%,NaN,NaN,NaN,2,2,NaN,NaN
1300,Norway,INDIA,NEW DELHI,NaN,NaN,NaN,NaN,NaN,"18,499","15,811","2,554",16.2%,75,"2,613",14.1%,"18,499","15,886","2,613",14.1%
1301,Norway,INDONESIA,JAKARTA,NaN,NaN,NaN,NaN,NaN,"4,625","4,601",472,10.3%,20,4,0.1%,"4,625","4,621",4,0.1%
1302,Norway,IRAN,TEHERAN,NaN,NaN,NaN,NaN,NaN,"1,862","1,207",161,13.3%,63,592,31.8%,"1,862","1,270",592,31.8%
1303,Norway,ISRAEL,TEL AVIV,NaN,NaN,NaN,NaN,NaN,25,21,2,9.5%,1,3,12.0%,25,22,3,12.0%
1304,Norway,ITALY,ROME,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,1,NaN,NaN,1,1,NaN,NaN
1305,Norway,JAPAN,TOKYO,NaN,NaN,NaN,NaN,NaN,253,239,32,13.4%,NaN,14,5.5%,253,239,14,5.5%
1306,Norway,JORDAN,AMMAN,NaN,NaN,NaN,NaN,NaN,293,219,48,21.9%,24,50,17.1%,293,243,50,17.1%
1307,Norway,KENYA,NAIROBI,NaN,NaN,NaN,NaN,NaN,"1,090",855,80,9.4%,27,208,19.1%,"1,090",882,208,19.1%
1308,Norway,KOSOVO,PRISTINA,NaN,NaN,NaN,NaN,NaN,"2,205",32,32,100.0%,"1,769",468,21.2%,"2,205","1,801",468,21.2%
1309,Norway,LEBANON,BEIRUT,NaN,NaN,NaN,NaN,NaN,544,404,239,59.2%,55,85,15.6%,544,459,85,15.6%
1310,Norway,MALAWI,LILONGWE,NaN,NaN,NaN,NaN,NaN,137,121,17,14.0%,5,11,8.0%,137,126,11,8.0%
1311,Norway,MOZAMBIQUE,MAPUTO,NaN,NaN,NaN,NaN,NaN,258,245,53,21.6%,NaN,13,5.0%,258,245,13,5.0%
1312,Norway,NETHERLANDS,THE HAGUE,NaN,NaN,NaN,NaN,NaN,4,1,1,100.0%,3,NaN,NaN,4,4,NaN,NaN
1313,Norway,NIGERIA,ABUJA,NaN,NaN,NaN,NaN,NaN,631,310,39,12.6%,8,313,49.6%,631,318,313,49.6%
1314,Norway,PAKISTAN,ISLAMABAD,NaN,NaN,NaN,NaN,NaN,"2,013","1,156",302,26.1%,17,840,41.7%,"2,013","1,173",840,41.7%
1315,Norway,PALESTINIAN AUTHORITY,RAMALLAH,NaN,NaN,NaN,NaN,NaN,317,247,20,8.1%,44,26,8.2%,317,291,26,8.2%
1316,Norway,PHILIPPINES,MANILA,NaN,NaN,NaN,NaN,NaN,"6,380","5,918","1,703",28.8%,14,448,7.0%,"6,380","5,932",448,7.0%
1317,Norway,ROMANIA,BUCHAREST,NaN,NaN,NaN,NaN,NaN,30,21,4,19.0%,2,7,23.3%,30,23,7,23.3%
1318,Norway,RUSSIAN FEDERATION,MOSCOW,NaN,NaN,NaN,NaN,NaN,"21,420","17,504","12,675",72.4%,91,"3,825",17.9%,"21,420","17,595","3,825",17.9%
1319,Norway,RUSSIAN FEDERATION,MURMANSK,NaN,NaN,NaN,NaN,NaN,31,22,22,100.0%,NaN,9,29.0%,31,22,9,29.0%
1320,Norway,SAUDI ARABIA,RIYADH,NaN,NaN,NaN,NaN,NaN,"1,330","1,234","1,185",96.0%,19,77,5.8%,"1,330","1,253",77,5.8%
1321,Norway,SERBIA,BELGRADE,NaN,NaN,NaN,NaN,NaN,15,13,3,23.1%,1,1,6.7%,15,14,1,6.7%
1322,Norway,SOUTH AFRICA,PRETORIA,NaN,NaN,NaN,NaN,NaN,"2,975","2,883",949,32.9%,6,86,2.9%,"2,975","2,889",86,2.9%
1323,Norway,SOUTH KOREA,SEOUL,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,3,NaN,NaN,NaN,6,NaN,NaN
1324,Norway,SOUTH SUDAN,JUBA,NaN,NaN,NaN,NaN,NaN,9,3,2,NaN,6,NaN,NaN,9,9,NaN,NaN
1325,Norway,SPAIN,MADRID,NaN,NaN,NaN,NaN,NaN,2,15,NaN,NaN,15,2,100.0%,2,30,2,100.0%
1326,Norway,SRI LANKA,COLOMBO,NaN,NaN,NaN,NaN,NaN,933,801,141,NaN,22,110,11.8%,933,823,110,11.8%
1327,Norway,SUDAN,KHARTOUM,NaN,NaN,NaN,NaN,NaN,277,98,16,16.3%,13,166,59.9%,277,111,166,59.9%
1328,Norway,SWEDEN,STOCKHOLM,NaN,NaN,NaN,NaN,NaN,6,3,3,100.0%,1,2,33.3%,6,4,2,33.3%
1329,Norway,THAILAND,BANGKOK,NaN,NaN,NaN,NaN,NaN,"13,569","12,813","4,032",31.5%,42,714,5.3%,"13,569","12,855",714,5.3%
1330,Norway,TURKEY,ANKARA,NaN,NaN,NaN,NaN,NaN,"1,923","1,144",452,39.5%,14,765,39.8%,"1,923","1,158",765,39.8%
1331,Norway,UGANDA,KAMPALA,NaN,NaN,NaN,NaN,NaN,345,245,18,7.3%,3,97,28.1%,345,248,97,28.1%
1332,Norway,UKRAINE,KYIV,NaN,NaN,NaN,NaN,NaN,209,187,144,77.0%,13,9,4.3%,209,200,9,4.3%
1333,Norway,UNITED ARAB EMIRATES,ABU DHABI,NaN,NaN,NaN,NaN,NaN,"4,183","3,099",831,26.8%,54,"1,030",24.6%,"4,183","3,153","1,030",24.6%
1334,Norway,UNITED KINGDOM,LONDON,2,2,NaN,NaN,NaN,"3,065","2,135",481,22.5%,22,908,29.6%,"3,067","2,159",908,29.6%
1335,Norway,USA,"NEW YORK, NY",1,1,NaN,NaN,NaN,"2,831","2,719","1,423",52.3%,23,89,3.1%,"2,832","2,743",89,3.1%
1336,Norway,VIETNAM,HANOI,NaN,NaN,NaN,NaN,NaN,"2,112","1,910",171,9.0%,12,190,9.0%,"2,112","1,922",190,9.0%

In [7]:
#Statistics from countries demanded for visas
data['Numeric applies'] = data['Total ATVs and uniform visas applied for']\
.iloc[:1900].dropna().apply(lambda s: int(s.replace(',', '')))
data

,Schengen State,Country where consulate is located,Consulate,Airport transit visas (ATVs) applied for,ATVs issued (including multiple),Multiple ATVs issued,ATVs not issued,Not issued rate for ATVs,Uniform visas applied for,Total uniform visas issued (including MEV),Multiple entry uniform visas (MEVs) issued,Share of MEVs on total number of uniform visas issued,Total LTVs issued,Uniform visas not issued,Not issued rate for uniform visas,Total ATVs and uniform visas applied for,"Total ATVs and uniform visas issued (including multiple ATVs, MEVs and LTVs)",Total ATVs and uniform visas not issued,Not issued rate for ATVs and uniform visas,Numeric applies
0,Austria,ALBANIA,TIRANA,NaN,NaN,NaN,NaN,NaN,62,32,10,31.3%,21,9,14.5%,62,53,9,14.5%,62.0
1,Austria,ALGERIA,ALGIERS,NaN,NaN,NaN,NaN,NaN,2481,1658,1461,88.1%,1,822,33.1%,"2,481","1,659",822,33.1%,2481.0
2,Austria,ARGENTINA,BUENOS AIRES,NaN,NaN,NaN,NaN,NaN,16,16,16,100.0%,NaN,NaN,NaN,16,16,NaN,NaN,16.0
3,Austria,AUSTRALIA,CANBERRA,NaN,NaN,NaN,NaN,NaN,2776,2653,989,37.3%,1,122,4.4%,"2,776","2,654",122,4.4%,2776.0
4,Austria,AZERBAIJAN,BAKU,1,1,1,NaN,NaN,1976,1895,1769,93.4%,2,79,4.0%,"1,977","1,898",79,4.0%,1977.0
5,Austria,BOSNIA AND HERZEGOVINA,SARAJEVO,NaN,NaN,NaN,NaN,NaN,616,615,615,100.0%,NaN,1,0.2%,616,615,1,0.2%,616.0
6,Austria,BRAZIL,BRASILIA,NaN,NaN,NaN,NaN,NaN,37,37,36,97.3%,NaN,NaN,NaN,37,37,NaN,NaN,37.0
7,Austria,BULGARIA,SOFIA,NaN,NaN,NaN,NaN,NaN,217,199,162,81.4%,13,5,2.3%,217,212,5,2.3%,217.0
8,Austria,CANADA,OTTAWA,NaN,NaN,NaN,NaN,NaN,686,659,107,16.2%,1,26,3.8%,686,660,26,3.8%,686.0
9,Austria,CHILE,SANTIAGO DE CHILE,NaN,NaN,NaN,NaN,NaN,22,22,17,77.3%,NaN,NaN,NaN,22,22,NaN,NaN,22.0
10,Austria,CHINA,BEIJING,1,1,NaN,NaN,NaN,36365,35764,1125,3.1%,4,597,1.6%,"36,366","35,769",597,1.6%,36366.0
11,Austria,CHINA,SHANGHAI,NaN,NaN,NaN,NaN,NaN,45037,44636,3442,7.7%,NaN,401,0.9%,"45,037","44,636",401,0.9%,45037.0
12,Austria,COLOMBIA,BOGOTA,NaN,NaN,NaN,NaN,NaN,19,16,16,100.0%,NaN,3,15.8%,19,16,3,15.8%,19.0
13,Austria,CROATIA,ZAGREB,NaN,NaN,NaN,NaN,NaN,261,224,235,104.9%,23,14,5.4%,261,247,14,5.4%,261.0
14,Austria,CUBA,HAVANA,NaN,NaN,NaN,NaN,NaN,521,490,128,26.1%,NaN,31,6.0%,521,490,31,6.0%,521.0
15,Austria,CYPRUS,NICOSIA,NaN,NaN,NaN,NaN,NaN,494,485,332,68.5%,4,5,1.0%,494,489,5,1.0%,494.0
16,Austria,EGYPT,CAIRO,NaN,NaN,NaN,NaN,NaN,4993,4132,2872,69.5%,39,822,16.5%,"4,993","4,171",822,16.5%,4993.0
17,Austria,ETHIOPIA,ADDIS ABEBA,NaN,NaN,NaN,NaN,NaN,670,638,108,16.9%,9,23,3.4%,670,647,23,3.4%,670.0
18,Austria,GERMANY,MUNICH,NaN,NaN,NaN,NaN,NaN,111,106,96,90.6%,3,2,1.8%,111,109,2,1.8%,111.0
19,Austria,HONG KONG S.A.R.,HONG KONG,NaN,NaN,NaN,NaN,NaN,495,493,98,19.9%,NaN,2,0.4%,495,493,2,0.4%,495.0
20,Austria,INDIA,NEW DELHI,NaN,NaN,NaN,NaN,NaN,36820,34792,34812,100.1%,26,2002,5.4%,"36,820","34,818","2,002",5.4%,36820.0
21,Austria,INDONESIA,JAKARTA,NaN,NaN,NaN,NaN,NaN,6345,6325,668,10.6%,NaN,20,0.3%,"6,345","6,325",20,0.3%,6345.0
22,Austria,IRAN,TEHERAN,NaN,NaN,NaN,NaN,NaN,9179,5327,1051,19.7%,160,3692,40.2%,"9,179","5,487","3,692",40.2%,9179.0
23,Austria,IRELAND,DUBLIN,NaN,NaN,NaN,NaN,NaN,575,574,121,21.1%,NaN,1,0.2%,575,574,1,0.2%,575.0
24,Austria,ISRAEL,TEL AVIV,1,1,NaN,NaN,NaN,641,592,127,21.5%,3,46,7.2%,642,596,46,7.2%,642.0
25,Austria,JAPAN,TOKYO,NaN,NaN,NaN,NaN,NaN,543,543,38,7.0%,NaN,NaN,NaN,543,543,NaN,NaN,543.0
26,Austria,JORDAN,AMMAN,1,1,NaN,NaN,NaN,3779,3232,984,30.4%,32,515,13.6%,"3,780","3,265",515,13.6%,3780.0
27,Austria,KAZAKHSTAN,ASTANA,1,1,NaN,NaN,NaN,6698,6559,683,10.4%,2,137,2.0%,"6,699","6,562",137,2.0%,6699.0
28,Austria,KENYA,NAIROBI,NaN,NaN,NaN,NaN,NaN,1390,1131,152,13.4%,6,253,18.2%,"1,390","1,137",253,18.2%,1390.0
29,Austria,KUWAIT,KUWAIT,NaN,NaN,NaN,NaN,NaN,10502,9933,8865,89.2%,189,380,3.6%,"10,502","10,122",380,3.6%,10502.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1883,Switzerland,SRI LANKA,COLOMBO,32,30,23,2,6.3%,8503,6690,1682,25.1%,247,1566,18.4%,"8,535","6,967","1,568",18.4%,8535.0
1884,Switzerland,SUDAN,KHARTOUM,NaN,NaN,NaN,NaN,NaN,1060,684,149,21.8%,155,221,20.8%,"1,060",839,221,20.8%,1060.0
1885,Switzerland,SWEDEN,STOCKHOLM,NaN,NaN,NaN,NaN,NaN,1,1,1,100.0%,NaN,NaN,NaN,1,1,NaN,NaN,1.0
1886,Switzerland,TAIWAN,TAIPEI,NaN,NaN,NaN,NaN,NaN,72,72,19,26.4%,NaN,NaN,NaN,72,72,NaN,NaN,72.0
1887,Switzerland,TANZANIA,DAR ES SALAAM,NaN,NaN,NaN,NaN,NaN,1093,1023,309,30.2%,1,69,6.3%,"1,093","1,024",69,6.3%,1093.0
1888,Switzerland,THAILAND,BANGKOK,NaN,NaN,NaN,NaN,NaN,44189,42819,7923,18.5%,6,1364,3.1%,"44,189","42,825","1,364",3.1%,44189.0
1889,Switzerland,TUNISIA,TUNIS,NaN,NaN,NaN,NaN,NaN,3454,2680,1674,62.5%,30,744,21.5%,"3,454","2,710",744,21.5%,3454.0
1890,Switzerland,TURKEY,ISTANBUL,NaN,NaN,NaN,NaN,NaN,14852,13257,9024,68.1%,153,1442,9.7%,"14,852","13,410","1,442",9.7%,14852.0
1891,Switzerland,UKRAINE,KYIV,NaN,NaN,NaN,NaN,NaN,356,328,221,67.4%,NaN,28,7.9%,356,328,28,7.9%,356.0
1892,Switzerland,UNITED ARAB EMIRATES,ABU DHABI,NaN,NaN,NaN,NaN,NaN,23355,20667,16324,79.0%,169,2519,10.8%,"23,355","20,836","2,519",10.8%,23355.0
1893,Switzerland,UNITED KINGDOM,LONDON,NaN,NaN,NaN,NaN,NaN,8503,8216,8202,99.8%,124,163,1.9%,"8,503","8,340",163,1.9%,8503.0
1894,Switzerland,USA,"ATLANTA, GA",NaN,NaN,NaN,NaN,NaN,1597,1592,1579,99.2%,2,3,0.2%,"1,597","1,594",3,0.2%,1597.0
1895,Switzerland,USA,"NEW YORK, NY",1,1,1,NaN,NaN,3561,3444,3430,99.6%,100,17,0.5%,"3,562","3,545",17,0.5%,3562.0
1896,Switzerland,USA,"SAN FRANCISCO, CA",1,1,NaN,NaN,NaN,3642,3623,3529,97.4%,13,6,0.2%,"3,643","3,637",6,0.2%,3643.0
1897,Switzerland,USA,"WASHINGTON, DC",NaN,NaN,NaN,NaN,NaN,1066,1022,511,50.0%,14,30,2.8%,"1,066","1,036",30,2.8%,1066.0
1898,Switzerland,VENEZUELA,CARACAS,NaN,NaN,NaN,NaN,NaN,7,6,4,66.7%,NaN,1,14.3%,7,6,1,14.3%,7.0
1899,Switzerland,VIETNAM,HO CHI MINH,NaN,NaN,NaN,NaN,NaN,3679,3334,501,15.0%,44,301,8.2%,"3,679","3,378",301,8.2%,3679.0
1900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1901,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1903,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1904,NaN,NaN,Selection Sub total in 2018,"5,313","4,277","1,553",767,14.4%,"16,016,599","14,265,282","8,325,850",58.4%,"113,687","1,539,362",9.6%,"16,021,912","14,383,246","1,540,129",9.6%,NaN
1905,NaN,NaN,Total worldwide 2018,"5,313","4,277","1,553",767,14.4%,"16,016,599","14,265,282","8,325,850",58.4%,"113,687","1,539,362",9.6%,"16,021,912","14,383,246","1,540,129",9.6%,NaN
1906,NaN,NaN,Share of subtotal on worldwide total,100%,100%,100%,100%,NaN,100%,100%,100%,NaN,100%,100%,NaN,100%,100%,100%,NaN,NaN
1907,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1908,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1910,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1911,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
#Which consulates in every country are more generous than others? quantity? proportion?
data['Numeric total issued visas'] = data['Total ATVs and uniform visas issued  (including multiple ATVs, MEVs and LTVs) ']\
    .iloc[:1900].dropna().apply(lambda s: int(s.replace(',', '')))

data.groupby(['Consulate'])['Numeric total issued visas'].sum().sort_values(ascending = False).head(5)

Consulate
MOSCOW            2542131.0
BEIJING           1058086.0
SHANGHAI           923186.0
ST. PETERSBURG     741242.0
NEW DELHI          534188.0
Name: Numeric total issued visas, dtype: float64

In [16]:
#Which consulate is the most strict one?
data['Numeric not issued visas'] = data['Total ATVs and uniform visas not issued']\
    .iloc[:1900].dropna().apply(lambda s: int(s.replace(',', '')))

data.groupby(['Consulate'])['Numeric not issued visas'].sum().sort_values(ascending = False).head(5)

Consulate
ALGIERS      168882.0
ORAN          89573.0
TEHERAN       80435.0
NEW DELHI     67324.0
ANNABA        65836.0
Name: Numeric not issued visas, dtype: float64