In [1]:
import numpy as np
import pandas as pd
# pip install seaborn 
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
PATH = 'C:/Users/Anastasiia Murashova/Documents/2018-data-for-consulates.csv'

#origin source
#https://www.kaggle.com/ma7555/schengen-visa-stats#2017-data-for-consulates.csv

In [14]:
data = pd.read_csv(PATH)
data.head(20)

,Schengen State,Country where consulate is located,Consulate,Airport transit visas (ATVs) applied for,ATVs issued (including multiple),Multiple ATVs issued,ATVs not issued,Not issued rate for ATVs,Uniform visas applied for,Total uniform visas issued (including MEV),Multiple entry uniform visas (MEVs) issued,Share of MEVs on total number of uniform visas issued,Total LTVs issued,Uniform visas not issued,Not issued rate for uniform visas,Total ATVs and uniform visas applied for,"Total ATVs and uniform visas issued (including multiple ATVs, MEVs and LTVs)",Total ATVs and uniform visas not issued,Not issued rate for ATVs and uniform visas
0,Austria,ALBANIA,TIRANA,NaN,NaN,NaN,NaN,NaN,62,32,10,31.3%,21,9,14.5%,62,53,9,14.5%
1,Austria,ALGERIA,ALGIERS,NaN,NaN,NaN,NaN,NaN,2481,1658,1461,88.1%,1,822,33.1%,"2,481","1,659",822,33.1%
2,Austria,ARGENTINA,BUENOS AIRES,NaN,NaN,NaN,NaN,NaN,16,16,16,100.0%,NaN,NaN,NaN,16,16,NaN,NaN
3,Austria,AUSTRALIA,CANBERRA,NaN,NaN,NaN,NaN,NaN,2776,2653,989,37.3%,1,122,4.4%,"2,776","2,654",122,4.4%
4,Austria,AZERBAIJAN,BAKU,1,1,1,NaN,NaN,1976,1895,1769,93.4%,2,79,4.0%,"1,977","1,898",79,4.0%
5,Austria,BOSNIA AND HERZEGOVINA,SARAJEVO,NaN,NaN,NaN,NaN,NaN,616,615,615,100.0%,NaN,1,0.2%,616,615,1,0.2%
6,Austria,BRAZIL,BRASILIA,NaN,NaN,NaN,NaN,NaN,37,37,36,97.3%,NaN,NaN,NaN,37,37,NaN,NaN
7,Austria,BULGARIA,SOFIA,NaN,NaN,NaN,NaN,NaN,217,199,162,81.4%,13,5,2.3%,217,212,5,2.3%
8,Austria,CANADA,OTTAWA,NaN,NaN,NaN,NaN,NaN,686,659,107,16.2%,1,26,3.8%,686,660,26,3.8%
9,Austria,CHILE,SANTIAGO DE CHILE,NaN,NaN,NaN,NaN,NaN,22,22,17,77.3%,NaN,NaN,NaN,22,22,NaN,NaN
10,Austria,CHINA,BEIJING,1,1,NaN,NaN,NaN,36365,35764,1125,3.1%,4,597,1.6%,"36,366","35,769",597,1.6%
11,Austria,CHINA,SHANGHAI,NaN,NaN,NaN,NaN,NaN,45037,44636,3442,7.7%,NaN,401,0.9%,"45,037","44,636",401,0.9%
12,Austria,COLOMBIA,BOGOTA,NaN,NaN,NaN,NaN,NaN,19,16,16,100.0%,NaN,3,15.8%,19,16,3,15.8%
13,Austria,CROATIA,ZAGREB,NaN,NaN,NaN,NaN,NaN,261,224,235,104.9%,23,14,5.4%,261,247,14,5.4%
14,Austria,CUBA,HAVANA,NaN,NaN,NaN,NaN,NaN,521,490,128,26.1%,NaN,31,6.0%,521,490,31,6.0%
15,Austria,CYPRUS,NICOSIA,NaN,NaN,NaN,NaN,NaN,494,485,332,68.5%,4,5,1.0%,494,489,5,1.0%
16,Austria,EGYPT,CAIRO,NaN,NaN,NaN,NaN,NaN,4993,4132,2872,69.5%,39,822,16.5%,"4,993","4,171",822,16.5%
17,Austria,ETHIOPIA,ADDIS ABEBA,NaN,NaN,NaN,NaN,NaN,670,638,108,16.9%,9,23,3.4%,670,647,23,3.4%
18,Austria,GERMANY,MUNICH,NaN,NaN,NaN,NaN,NaN,111,106,96,90.6%,3,2,1.8%,111,109,2,1.8%
19,Austria,HONG KONG S.A.R.,HONG KONG,NaN,NaN,NaN,NaN,NaN,495,493,98,19.9%,NaN,2,0.4%,495,493,2,0.4%

Questions for research:
1. Which types of visas (ATV, MEV, LTV) were given and how much
2. How much applies for transfer visas were from customers comparing to all applies for visas 
3. Statistics from countries demanded for visas 
4. Chances for getting LTV or better quality of visa 
5. Which consulates in every country are more generous than others? 
6. Which schengen states are more generous in general? 
7. Which consulate is the most strict one?
8. Same for Russia
9. Same for Moscow

Проверить на выбросы, проценты нанов, cделать булевые маски на наны, которых много

In [4]:
print(data.columns)

Index(['Schengen State', 'Country where consulate is located', 'Consulate',
       'Airport transit visas (ATVs) applied for ',
       ' ATVs issued (including multiple)', 'Multiple ATVs issued',
       'ATVs not issued ', 'Not issued rate for ATVs',
       'Uniform visas applied for',
       'Total  uniform visas issued (including MEV) \n',
       'Multiple entry uniform visas (MEVs) issued',
       'Share of MEVs on total number of uniform visas issued',
       'Total LTVs issued', 'Uniform visas not issued',
       'Not issued rate for uniform visas',
       'Total ATVs and uniform visas applied for',
       'Total ATVs and uniform visas issued  (including multiple ATVs, MEVs and LTVs) ',
       'Total ATVs and uniform visas not issued',
       'Not issued rate for ATVs and uniform visas '],
      dtype='object')

Перевод колонок:

Заявки на транзитные визы в аэропорту (ATV), 
Выпущенные транзитные визы (включая многократные), 
Выпущены многократные транзитные визы, 
Многократные транзитные визы не выпущены, 
Рейтинг не выданных многократных транзитные визы, 
Подачи на единые визы, 
Всего выдано единых виз (включая MEV),
Выданы многократные въездные визы (MEV),
Доля MEVs в общем количестве выданных единых виз,
Всего выпущено ограниченные виз (LTV),
Единые визы не выданы,
Рейтинг не выпущенных единых виз,
Общее количество подач на транзитные и единые визы,
Всего выдано ATV и единых виз (включая несколько ATV, MEV и LTV),
Всего транзитных и единых виз не выдано,
Рейтинг не выпущенных тариф на транзитные и единые визы

In [5]:
total_data = data.iloc[1904:1907, 3:19]
total_data.rename(index={1904:'Selection Sub total in 2018',1905:'Total worldwide 2018',1906:'Share of subtotal on worldwide total'}, inplace=True)
total_data

# This dataframe gives us summury about which types of visas and how much were applied and given in 2018 in the world

,Airport transit visas (ATVs) applied for,ATVs issued (including multiple),Multiple ATVs issued,ATVs not issued,Not issued rate for ATVs,Uniform visas applied for,Total uniform visas issued (including MEV),Multiple entry uniform visas (MEVs) issued,Share of MEVs on total number of uniform visas issued,Total LTVs issued,Uniform visas not issued,Not issued rate for uniform visas,Total ATVs and uniform visas applied for,"Total ATVs and uniform visas issued (including multiple ATVs, MEVs and LTVs)",Total ATVs and uniform visas not issued,Not issued rate for ATVs and uniform visas
Selection Sub total in 2018,"5,313","4,277","1,553",767,14.4%,"16,016,599","14,265,282","8,325,850",58.4%,"113,687","1,539,362",9.6%,"16,021,912","14,383,246","1,540,129",9.6%
Total worldwide 2018,"5,313","4,277","1,553",767,14.4%,"16,016,599","14,265,282","8,325,850",58.4%,"113,687","1,539,362",9.6%,"16,021,912","14,383,246","1,540,129",9.6%
Share of subtotal on worldwide total,100%,100%,100%,100%,NaN,100%,100%,100%,NaN,100%,100%,NaN,100%,100%,100%,NaN

In [6]:
total_data['Numeric global ATV applies'] = total_data['Airport transit visas (ATVs) applied for ']\
    .iloc[:2].apply(lambda s: int(s.replace(',', '')))
total_data['Numeric global applies'] = total_data['Total ATVs and uniform visas applied for']\
    .iloc[:2].apply(lambda s: int(s.replace(',', '')))

global_atv_applies = total_data['Numeric global ATV applies'].iloc[:1].sum()
global_applies = total_data['Numeric global applies'].iloc[:1].sum()
print("Share of ATV applies is", round(((global_atv_applies/global_applies)*100), 2), '%')

Share of ATV applies is 0.03 %

In [7]:
#Chances for getting LTV or better quality of visa
#LTV and MEV issued/LTV and MEV 

total_data['Numeric uniform visa issued'] = total_data['Total  uniform visas issued (including MEV) \n']\
    .iloc[:2].dropna().apply(lambda s: int(s.replace(',', '')))
total_data['Numeric uniform visa applies'] = total_data['Uniform visas applied for'].iloc[:2]\
    .dropna().apply(lambda s: int(s.replace(',', '')))

issued_bq_visas = total_data['Numeric uniform visa issued'].iloc[:1].sum()
applied_bq_visas = total_data['Numeric uniform visa applies'].iloc[:1].sum()
print('Chances for getting LTV or better quality of visa', round(((issued_bq_visas/applied_bq_visas)*100), 2), '%')

Chances for getting LTV or better quality of visa 89.07 %

In [8]:
numeric_data = data.iloc[:1900, 0:3]
numeric_data['Numeric applies'] = data['Total ATVs and uniform visas applied for']\
    .iloc[:1900].dropna().apply(lambda s: int(s.replace(',', '')))
numeric_data['Numeric total issued visas'] = data['Total ATVs and uniform visas issued  (including multiple ATVs, MEVs and LTVs) ']\
    .iloc[:1900].dropna().apply(lambda s: int(s.replace(',', '')))
numeric_data['Numeric not issued visas'] = data['Total ATVs and uniform visas not issued']\
    .iloc[:1900].dropna().apply(lambda s: int(s.replace(',', '')))

In [9]:
numeric_data = numeric_data.fillna(0, axis = 0)

In [11]:
numeric_data['Numeric applies'] = numeric_data[['Numeric applies', 'Numeric total issued visas', 'Numeric not issued visas']]\
.apply(lambda x: x['Numeric applies'] if x['Numeric total issued visas'] <= x['Numeric applies'] \
       else x['Numeric total issued visas']+x['Numeric not issued visas'], axis = 1)

In [25]:
numeric_data['Numeric applies'] = numeric_data[['Numeric applies', 'Numeric total issued visas', 'Numeric not issued visas']]\
.apply(lambda x: x['Numeric applies'] if x['Numeric not issued visas'] <= x['Numeric applies'] \
       else x['Numeric total issued visas']+x['Numeric not issued visas'], axis = 1)

In [26]:
numeric_data['Share of issued visas'] = numeric_data['Numeric total issued visas']/numeric_data['Numeric applies']

In [27]:
numeric_data['Share of not issued visas'] = numeric_data['Numeric not issued visas']/numeric_data['Numeric applies']

In [28]:
#Which consulates in every country are more generous than others? quantity? proportion?

numeric_data.groupby(['Consulate'])['Numeric total issued visas'].sum().sort_values(ascending = False).head(5)

Consulate
MOSCOW            2542131.0
BEIJING           1058086.0
SHANGHAI           923186.0
ST. PETERSBURG     741242.0
NEW DELHI          534188.0
Name: Numeric total issued visas, dtype: float64

In [29]:
#Which consulate is the most strict one?
numeric_data.groupby(['Consulate'])['Numeric not issued visas'].sum().sort_values(ascending = False).head(5)

Consulate
ALGIERS      168882.0
ORAN          89573.0
TEHERAN       80435.0
NEW DELHI     67324.0
ANNABA        65836.0
Name: Numeric not issued visas, dtype: float64

In [30]:
numeric_data.groupby(['Consulate'])['Share of issued visas'].mean().sort_values(ascending = False).head(29)

Consulate
ZURICH                1.000000
VICTORIA              1.000000
ROSARIO (Santa Fé)    1.000000
REYKJAVIK             1.000000
SUBOTICA              1.000000
LYON                  1.000000
LUGANO                1.000000
TALLINN               1.000000
TAMPA, FL             1.000000
JUBA                  1.000000
SAN SALVADOR          1.000000
GUADALAJARA           1.000000
GJIROKASTER           1.000000
CORDOBA               1.000000
CLEVELAND, OH         1.000000
VALETTA               1.000000
HAMBURG               1.000000
BARCELONA             1.000000
AMSTERDAM             1.000000
VILNIUS               1.000000
BAHIA BLANCA          1.000000
GRODNO                0.997340
KAZAN                 0.997318
BREST                 0.997160
PSKOV                 0.996274
SAN MARINO            0.995423
GABORONE              0.995172
IRKUTSK               0.995065
PETROZAVODSK          0.994786
Name: Share of issued visas, dtype: float64

In [31]:
numeric_data.groupby(['Consulate'])['Share of not issued visas'].mean().sort_values(ascending = False).head()

Consulate
ALEPPO        1.000000
LUBUMBASHI    0.867470
VALENCIA      0.800000
LAGOS         0.510325
MONACO        0.500000
Name: Share of not issued visas, dtype: float64

In [32]:
numeric_data.groupby(['Schengen State'])['Share of issued visas'].mean().sort_values(ascending = False)

Schengen State
Iceland           0.966720
Slovakia          0.958992
Estonia           0.913243
Luxembourg        0.912931
Austria           0.910866
Italy             0.906366
Latvia            0.904608
Greece            0.901202
Switzerland       0.901003
Germany           0.900126
Czech Republic    0.889202
Slovenia          0.885820
Lithuania         0.884841
Poland            0.869614
Finland           0.866860
Portugal          0.858278
Denmark           0.857376
Spain             0.855763
Malta             0.855260
Norway            0.852251
Hungary           0.849709
France            0.837832
Netherlands       0.797146
Belgium           0.777907
Sweden            0.551701
Name: Share of issued visas, dtype: float64

In [33]:
numeric_data.groupby(['Schengen State'])['Share of not issued visas'].mean().sort_values(ascending = False)

Schengen State
Belgium           0.165830
Netherlands       0.155411
Hungary           0.150291
Norway            0.148258
Portugal          0.141722
France            0.134448
Poland            0.130096
Malta             0.124488
Slovenia          0.114180
Czech Republic    0.108563
Finland           0.104637
Sweden            0.104519
Germany           0.099874
Switzerland       0.098997
Greece            0.098798
Denmark           0.095986
Spain             0.094561
Italy             0.093634
Austria           0.089134
Estonia           0.086757
Luxembourg        0.081355
Latvia            0.081001
Lithuania         0.077487
Slovakia          0.041008
Iceland           0.011538
Name: Share of not issued visas, dtype: float64